@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri");
#cv {
  font-family: sans-serif;
  color: #2B2B2B;
}

#cv h1 {
  background: #2B2B2B;
  color: white;
}

.pic {
  background: url("../img/mk.png") no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 150px;
}
