@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri");
.cv {
  font-family: 'Hind Siliguri', sans-serif;
  color: #2B2B2B;
}

.pic {
  background: url("../img/mk.png") no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 150px;
}
